<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Aurelia</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>

<body>

  <nav class="dutch-header text-white navbar navbar-dark">
    <a class="nav-link active" asp-controller="App" asp-action="Index">Index</a>
    @if (User.Identity.IsAuthenticated)
    {
      <div class="navbar float-right">
        <a class="nav-link">@User.Identity.Name</a>
        <a class="nav-link " asp-controller="Account" asp-action="Logout">Logout</a>
      </div>
    }
    else
    {
    <div class="navbar float-right">

      <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
      <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </div>
    }
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

  <div class="container-fluid body-content">
      @RenderBody()
  </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>   
    

    @RenderSection("Scripts", required: false)
</body>
</html>
