/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

#div1 {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
}

h2 {
  text-align: center;
}

.content-box h2 {
  text-align: left;
}

.content-body {
  padding-top: 10px;
  padding-left: 20px;
  display:inline-block;
}

.header-bar {
  background-color: #343a40;
}


.icon-colour {
  color: cornflowerblue;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dutch-header {
    
    background-color: #f64d4c;
}

.content-box {
  width: 540px;
  height: 94px;
  background-color: #2dafc5;
  color: white;
  transition: 0.15s;
  margin: 10px;
}

a.content-box:hover {
  text-decoration: none;
}

.content-box:hover {
  width: 540px;
  height: 94px;
  background-color: #238798;
  color: white;
  text-decoration: none;
  transition: 0.15s;
}


.content-box .img {
  background-image: url("https://image.flaticon.com/icons/svg/201/201612.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin: 6px;
  float: left;
}


.dutch-header a {
    color: white;
}

.dutch-footer {
    padding: 10px;
    position: absolute;
    height: 20px;
    bottom: 0;
    width: 100%;
    background-color: #2dafc5;
}
